body{
    background-color:var(--cor-de-fundo);
    color:var(--cor-de-texto);

}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}


    /* } ssssssssés */
    :root{
        --cor-de-fundo:#000000;
        --cor-de-texto: #ffffff;
        --branco: #9e07cc;
    }
    
    img{
        width: 10%;
    }

    .imagem{
      width: 30%;

    }
    .apresentacao{
        display: flex;
        background-color: var(--branco);
        border: 2px solid white;
        margin: 20px;
        padding: 20px;
        border-radius: 20px;
    
      
    }
    