body{
    background-color: #c468e9;

}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}


    /* } ssssssssés */
    :root{
        --cor-de-fundo:#000000;
        --cor-de-texto:#ffffff;
        
    }
    
    img{
        width: 10%;
    }

    .imagem{
      width: 30%;

    }
    .apresentção{
        .display:flex;
    }
    