body{
    background-color:var(--cor-de-fundo);
    color:var(--cor-de-texto);
        font-family: "Madimi One", sans-serif;
        font-weight: 400;
        font-style: normal;
      
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}


    /* } ssssssssés */
    :root{
        --cor-de-fundo:#000000;
        --cor-de-texto: #ffffff;
        --branco: #750bcc;
    }
    
    img{
        width: 20%;
    }

    .imagem{
      width: 9%;

    }
    .apresentacao{
        display: flex;
        background-color: var(--branco);
        border: 2px solid white;
        margin: 20px;
        padding: 20px;
        border-radius: 20px;
    
      
    }

      .titulo{
        font-size: 40px;
      }
      .slogan{
        font-size: 20px;
      }
      .corpo{
        font-size: 20px;
      }
      .equipe{
        display: grid;
        grid-template-columns: 33% 33% 33%;
      }
      
      .foto-equipe{
        width: 30%;
      }

      .divisao-equipe{
        border: 3px solid rgb(151, 18, 212);
    
        margin: 10px;
      }
    

      .produto {
        display: flex;
        align-items: center; /* Alinha itens verticalmente */
    }
    
    .descricao-produto {
        margin-left: 100px; /* Ou qualquer outro valor desejado */
    }