body{
    background-color: #682d80;

}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}


    /* } ssssssssés */
    :root{
        --cor-de-fundo:#ffffff;
        --cor-de-texto:#ffffff;
        --branco: #ffffff;
    }
    
    img{
        width: 10%;
    }

    .imagem{
      width: 30%;

    }
    .apresentacao{
        display:flex;
        background-color: var(--branco);
        border: 7px solid var(--cor-de-texto);
        margin: 20px 0 0 0;
    
      
    }
    